.l-header {
  background-image: url(../image/header\ background.png);
  width: 100%;
  flex-shrink: 0;
}

h1 {
  color: #fff;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
